<%- include('../template.ejs',{mode:"header"}); %>

<h1>Settings: Advanced</h1>

<%- include('settings-template.ejs'); %>

<h2>Reset</h2>
<p>
    Reset all Settings to default:
    <a href="/settings/advanced/reset">Reset</a>
</p>


<%- include('../template.ejs',{mode:"footer"}); %>
