<%- include('../template.ejs',{mode:"header"}); %>

<h1>Settings: Advanced</h1>

<%- include('settings-template.ejs'); %>

<p>
    Advanced Settings or something like that...
</p>

<h2>Database</h2>
<p>
    <a href="/settings/advanced/database-reset">Reset Database</a>
    <a href="/settings/advanced/database-test">Test Database</a>
</p>


<%- include('../template.ejs',{mode:"footer"}); %>
