<%- include('../template.ejs',{mode:"header"}); %>

<h1>Settings: Advanced</h1>

<%- include('settings-template.ejs'); %>

<p>
    Advanced Settings or something like that...
</p>

<%- include('../template.ejs',{mode:"footer"}); %>
