<%- include('../template.ejs',{mode:"header"}); %>

<h1>Settings</h1>

<%- include('settings-template.ejs'); %>

<p>
    Please select a settings-subcategory to continue.
</p>

<%- include('../template.ejs',{mode:"footer"}); %>
