<table>
    <tr>
        <th>
            <a href="/settings/controller"> Controllers </a>
        </th>
        <th>
            <a href="/settings/input"> Inputs </a>
        </th>
        <th>
            <a href="/settings/output"> Outputs </a>
        </th>
        <th>
            <a href="/settings/advanced"> Advanced Settings </a>
        </th>
    </tr>
</table>

<hr>