<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav">
            <a href="/settings/controller" class="link-primary nav-item nav-link"> Controllers </a>

            <a href="/settings/input" class="link-primary nav-item nav-link"> Inputs </a>

            <a href="/settings/output" class="link-primary nav-item nav-link"> Outputs </a>

            <a href="/settings/advanced" class="link-primary nav-item nav-link"> Advanced Settings </a>
    </div>
</nav>

<hr>