<%- include('template.ejs',{mode:"header"}); %>

<h1>404!</h1>
<h2>This site doesn't exist!</h2>
<p>Click <a href="/">here</a> to get back to Doorguard.</p>

<%- include('template.ejs',{mode:"footer"}); %>
